{% extends "base.html" %}  <!-- extending base.html -->
    <title>{% block title %}
            Index Page
           {% endblock %}
    </title>

    
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    {%block content%} 

    <p>{{ mylist }}</p> <!-- printing all value at once -->
    {% for value in mylist %}
        <p>{{ value }}</p> <!-- printing each value -->
    {% endfor %}

    <a href = "{{ url_for('others') }}">Other</a> <!-- displaying link that is linked to other.html and calling the others sunction in template_filters.py -->

    {%endblock%}

</body>
</html>
